@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(1.6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scaleBtn {
  0% {
    transform: translate(-50%, -50%) scaleX(0);
  }

  100% {
    transform: translate(-50%, -50%) scaleX(1);
  }
}

@keyframes rollInLeft {
  0% {
    transform: translateX(-5rem) rotate(-180deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes rollInRight {
  0% {
    transform: translateX(5rem) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}